@import "tailwindcss";

@source "../../components";
@source "../../layouts";
@source "../../pages";
@source "../../plugins";
@source "../../composables";
@source "../../app.vue";
@source "../../error.vue";

@utility min-h-touch {
  min-height: 44px;
}
@utility min-w-touch {
  min-width: 44px;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply antialiased;
  }
  button,
  [role='button'],
  input[type='submit'],
  input[type='button'] {
    @apply min-h-touch;
  }
}
